//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// components
@import "../../views/_components/list/list.scss";

// Add extra styles here
.app-summary-list--compact {
  @include govuk-font(16);
  margin-bottom: 0;

  .govuk-summary-list__key, .govuk-summary-list__value {
    padding-bottom: govuk-spacing(0);
  }

  @include govuk-media-query($from: tablet) {
    .govuk-summary-list__key {
      width: 37%;
    }
  }
}

.app-panel {
  padding-top: govuk-spacing(5);
  padding-bottom: govuk-spacing(6);
  > *:last-child {
    margin-bottom: 0;
  }
}