{% extends "layouts/main.html" %}

{% set title = 'Referrals' %}

{% block pageTitle %}
{{title}} – {{serviceName}} – GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">
        {{ title }} ({{referrals.length}})
      </h1>

      <div class="app-list">
        {% for referral in referrals %}
          <div class="app-list__item">
            <h2 class="govuk-heading-m">
              <a class="govuk-link--no-visited-state" href="/referral/{{referral.id}}">{{referral.teacher.firstName}} {{referral.teacher.lastName}}</a>
            </h2>

            {% set referrer %}
              {{referral.referrer.firstName}}
              {{referral.referrer.lastName}}
              ({{referral.type | lower}})
            {% endset %}

            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border app-summary-list--compact',
              rows: [
                {
                  key: {
                    text: "Referral date"
                  },
                  value: {
                    text: referral.referralDate | date
                  }
                },
                {
                  key: {
                    text: "Referrer"
                  },
                  value: {
                    html: referrer
                  }
                }
              ]
            }) }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  {{ govukPagination({
    next: {
      href: "#"
    },
    items: [
      {
        number: 1,
        href: "#",
        current: true
      },
      {
        number: 2,
        href: "#"
      },
      {
        number: 3,
        href: "#"
      }
    ]
  }) }}

{% endblock %}
